@using BlazorTraining.Services
@using BlazorTraining.Tools
@inherits LayoutComponentBase

@inject AuthenticationStateProvider authProvider
@inject NavigationManager Navigation

<div class="container">

    <header class="border-bottom mb-2 p-1">
        <div class="row align-items-start">
            <div class="col fw-bold">
                Blazor training (render: @RendererInfo.Name)
            </div>
            <div class="col text-end">
                <AuthorizeView>
                    <NotAuthorized>
                        <NavLink href="@PageNames.Login">Login</NavLink>
                    </NotAuthorized>
                    <Authorized>
                        @UserName, <NavLink href="@PageNames.Logout">Logout</NavLink>
                    </Authorized>
                </AuthorizeView>
                <NavLink href="@PageNames.Home">Home</NavLink>
                <NavLink href="@PageNames.Admin">Admin</NavLink>
            </div>
        </div>
    </header>

    <main>
        @Body
    </main>

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    private string? UserName { get; set; } = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            UserName = user.Identity.Name;

            if (user.IsInRole(AuthService.RoleAdmin))
            {
                UserName += " [Admin]";
            }
        }
        else
        {
            UserName = "Nepřihlášen";
        }

    }
}
